.address h2,
.map h2 {
  font-weight: 700;
  font-size: large;
  font-size: x-large;
  letter-spacing: 0.1px;
}
.address p {
  font-size: 20px;
  padding: 10px 0;
}
.address div::after,
.map div::after {
  display: block;
  content: "";
  background-color: red;
  width: 90%;
  height: 2px;
  margin: 10px 0 20px;
}
