.category {
  display: inline-block;
  width: 100%;
  height: 200px;
  font-size: 16px;
  color: #000;
  font-weight: 600;
}

ul {
  display: inline-block;
  width: 100%;
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

#categoryList li:hover {
  background-color: #a09995;
  transition: 0.5s ease;
  cursor: pointer;
}

#categoryList li:hover p {
  transform: translate(20px);
  transition: 0.3s;
}

/* .active {
  font-weight: bold;
  transform: translate(20px);
  transition: 0.5s ease;
  color: rgba(245, 245, 245, 0.808);
} */

#categoryList li.active p {
  font-weight: bold;
  transform: translate(20px);
  transition: 0.5s ease;
  color: rgba(245, 245, 245, 0.808);
  /* animation: activeAnimation 0.5s infinite; */
}

#categoryList li.active {
  background-color: #a09995;
}

#categoryList li.active span {
  font-weight: bold;
}

ul li p {
  display: flex;
  margin: 10px;
  text-align: center;
  align-items: center;
}

#categoryList li > span {
  color: #615e5e80;
  font-size: 12px;
  font-weight: 400;
  text-align: right;
  padding-right: 10px;
}

/* Keyframes */

@keyframes activeAnimation {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 0.8px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
