div img {
  height: auto;
  width: 100%;
  max-width: 100%;
}

.cover {
  width: 100%;
}

.wraper {
  margin: 15px 0px 10px;
  width: 100%;
  background: linear-gradient(-60deg, #ff5e16 20%, transparent 0%),
    linear-gradient(120deg, #013989 75%, transparent 0%),
    linear-gradient(120deg, #fff 2%, transparent 0%);
  height: 36px;
}

.wraper .title {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  height: 36px;
  width: 100%;
  text-align: left;
}

.title span {
  font-size: 16px;
  color: #fff;
  padding-left: 5px;
}

