.App {
  text-align: center;
}

.container {
  margin: 20px auto;
  width: 70%;
}

/* .ant-menu-item-selected {
  border-bottom: 3px solid #ff5722 !important;
  color: #ff5722 !important;
} */

/* & .ant-menu-item:hover {
  border-bottom: 3px solid blue !important;
  color: black !important;
} */

/* remove ant design blue border */
/* .ant-menu-item-selected::after {
  content: none;
  border-bottom: none !important;
} */

/* & .ant-menu-item:hover::after {
  content: none;
  border-bottom: none !important;
} */

.ant-menu-item {
  border-bottom: 0 solid blue !important;
}

.ant-menu-overflow {
  width: 100vw !important;
}
